braceexpand==0.1.7
dask==2024.5.0
diffusers==0.27.2
einops==0.8.0
einx==0.2.2
hydra-core==1.3.2
imageio==2.34.1
jsonargparse==4.28.0
mamba_ssm==1.2.0.post1
matplotlib==3.8.4
numpy==1.26.4
omegaconf==2.3.0
Pillow==10.3.0
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.40.1
webdataset==0.2.86
spiht @ git+https://github.com/theAdamColton/spiht

